<!DOCTYPE html>
<html>

<body>

<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <!-- ------------------------ HEADER ------------------------ -->
                    <div class="header">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default ">
                            <div class="container navbar-container">
                                <!-- Brand/Logo -->
                                <a class="navbar-brand" >
                                    <%= image_tag "logo3.png", width: 70, height: 67 %>
                                </a>
                                <!-- Navbar toggler  -->
                                <div class="d-inline-block">
                                    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    </button>
                                </div>


                                <!-- Navbar links  -->
                                <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">

                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#futur">
                                                Notre Futur
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#appli">
                                                Ton App
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#démo">
                                                Une démo
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#team">
                                                La Dream Team
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#partenaires">
                                                Les Supers Curieux
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" href="#contact">
                                                Connecte-moi !
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End of Navbar links  -->
                            </div>
                            <!-- End of navbar container -->
                        </nav>
                        <!-- end of nav -->
                    </div>
                    <!-- ------------------------ END OF HEADER ------------------------ -->


                    <!-- ------------------------ SWIPER ------------------------ -->
                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
                        <!-- Swiper container -->
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                            <!-- Swiper wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slide DISCOVER -->
                                <div class="swiper-slide" data-swiper-autoplay="2750">
                                    <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'fond10.jpg' %>); background-position: bottom bottom">
                                        <div class="container d-flex align-items-center no-padding">
                                            <div class="col">
                                                <div class="row row-cols-xs-spaced align-items-center py-5 text-center justify-content-center">
                                                    <div class="col-lg-8">
                                                        <h3 class="heading heading-xl strong-700 c-white animated" data-animation-in="zoomIn" data-animation-onetime="false" data-animation-delay="200">
                                                            <span style="opacity: 0.9;">Le monde de demain appartient aux curieux</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide EXPLORE -->
                                <div class="swiper-slide" data-swiper-autoplay="2750">
                                    <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'fond10.jpg' %>); background-position: bottom bottom">
                                        <div class="container d-flex align-items-center no-padding">
                                            <div class="col">
                                                <div class="row row-cols-xs-spaced align-items-center py-5 text-center justify-content-center">
                                                    <div class="col-lg-8">
                                                        <h3 class="heading heading-xl strong-700 c-white animated"data-animation-in="zoomIn" data-animation-onetime="false" data-animation-delay="200">
                                                            <span style="opacity: 0.9;">Curious Connect</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of swiper wrapper -->
                            
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>

                        </div>
                        <!-- End of swiper container -->
                    </section>
                    <!-- ------------------------ END OF SWIPER ------------------------ -->

                    <!-- ------------------------ OUR VISION ------------------------ -->
                    <section class="slice-lg sct-color-1" id="futur">
                        <div class="container">

                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner transformation">
                                    <span>Notre futur</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                <p class="text-lg line-height-1_8">
                                    Tu rêves d’un <span class = "underlined">monde qui te ressemble</span> ? Viens le créer avec ton espace d’e-learning personnalisé <span class = "underlined">Curious Connect</span>.
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-md-space cols-sm-space">
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <%= image_tag "pbm1b.png", class: "block-icon" %>
                                        <h2 class="heading heading-4 strong-500 transformation" style="color:#E61D25">e-learning sur mesure</h2>
                                        <p class="px-4">
                                            Pour t’aider à répondre à <span class = "underlined">toutes tes questions</span>.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <%= image_tag "pbm2b.png", class: "block-icon" %>
                                        <h2 class="heading heading-4 strong-500 transformation" style="color:#2FBEB7">100% fun et dynamique</h2>
                                        <p class="px-4">
                                            Des <span class = "underlined">outils créatifs</span> et une app qui <span class = "underlined">évolue avec toi</span>.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <%= image_tag "pbm3b.png", class: "block-icon" %>
                                        <h2 class="heading heading-4 strong-500 transformation" style="color:#363390">toujours connecté</h2>
                                        <p class="px-4">
                                            <span class = "underlined">Où tu veux</span>, <span class = "underlined">quand tu veux</span>, <span class = "underlined">même sans internet</span> !
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF 3 POINTS ------------------------ -->


                    <!-- ------------------------ THE PRODUCT ------------------------ -->

                    <section class="slice-lg sct-color-4" id="appli">
                        <div class="sct-inner container">
                            
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner transformation">
                                    <span>Ton App</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space align-items-center">

                                <div class="col-lg-4 col-md-6 col-12">

                                    <div class="icon-block--style-1-v1 block-icon-right">
                                        <%= image_tag "logo.png", class: "block-icon" %>
                                        <div class="block-content">
                                            <h3 class="heading heading-5 strong-600">Responsive web design</h3>
                                            <p class="mt-3" style="color:#818a91">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                                            </p>
                                        </div>
                                    </div>

                                    <span class="space-xs-md space-sm-xl"></span>

                                    <div class="icon-block--style-1-v1 block-icon-right">
                                        <%= image_tag "logo.png", class: "block-icon" %>
                                        <div class="block-content">
                                            <h3 class="heading heading-5 strong-600">Loaded with features</h3>
                                            <p class="mt-3" style="color:#818a91">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-12 hidden-md-down">
                                    <%= link_to image_tag("img-device-5.png", class: "img-center img-responsive") %>
                                </div>


                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="icon-block--style-1-v1">
                                        <%= image_tag "logo.png", class: "block-icon" %>
                                        <div class="block-content">
                                            <h3 class="heading heading-5 strong-600">Free updates</h3>
                                            <p class="mt-3" style="color:#818a91">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                                            </p>
                                        </div>
                                    </div>

                                    <span class="space-xs-md space-sm-xl"></span>

                                    <div class="icon-block--style-1-v1">
                                        <%= image_tag "logo.png", class: "block-icon" %>
                                        <div class="block-content">
                                            <h3 class="heading heading-5 strong-600">Online support</h3>
                                            <p class="mt-3" style="color:#818a91">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF THE PRODUCT ------------------------ -->

                    <!-- ------------------------ DEMO ------------------------ -->
                    <section class="slice-lg sct-color-1" id="démo">
                        <div class="sct-inner container">
                            
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner transformation">
                                    <span>Une démo</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                <p class="text-lg line-height-1_8" style="color:#818a91">
                                    Coming soon !
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space align-items-center">

                                <div class="col-lg-12 col-12 hidden-md-down">
                                    <%= link_to image_tag("hourglass.png", class: "img-center img-responsive") %>
                                </div>

                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF DEMO ------------------------ -->

                    <!-- ------------------------ OUR TEAM ------------------------ -->
                    <section class="slice-lg sct-color-4" id="team">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner transformation" style="color:white">
                                    <span>La Dream Team</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                <p class="text-lg line-height-1_8">
                                    Start building fast, beautiful and modern looking websites in no time using our theme.
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="block block--style-4">
                                        <div class="block block-image">
                                            <div id="essai">
                                                <%= image_tag("tatijana5.png", class: "block-icon circle imageo")%>
                                                <%= image_tag("linkedin_icon.png", class: "middle", :onclick=> "window.open('https://www.linkedin.com/in/tatijana-rajcic-692389139')")%>
                                            </div>
                                        </div>
                                        <div class="block-body" style="text-align: center">
                                            <h3 class="heading heading-5 strong-500" style="color:white">Tatijana Rajcic</h3>
                                            <h4 class="heading heading-xs strong-400 text-uppercase letter-spacing-2 c-gray-light">Co-fondatrice et consultante créative</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="block block--style-4">
                                        <div class="block block-image">
                                            <div id="essai">
                                                <%= image_tag("bianca3.png", class: "block-icon circle imageo")%>
                                                <%= image_tag("linkedin_icon.png", class: "middle", :onclick=> "window.open('https://www.linkedin.com/in/bianca-schor-443a10102')")%>
                                            </div>
                                        </div>
                                        <div class="block-body" style="text-align: center">
                                            <h3 class="heading heading-5 strong-500" style="color:white">Bianca Schor</h3>
                                            <h4 class="heading heading-xs strong-400 text-uppercase letter-spacing-2 c-gray-light">Co-fondatrice et entrepreneuse engagée</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="block block--style-4">
                                        <div class="block block-image">
                                            <div id="essai">
                                                <%= image_tag("rafael4.png", class: "block-icon circle imageo")%>
                                                <%= image_tag("linkedin_icon.png", class: "middle", :onclick=> "window.open('https://www.linkedin.com/in/rafaelcoyaud/')")%>
                                            </div>
                                        </div>
                                        <div class="block-body" style="text-align: center">
                                            <h3 class="heading heading-5 strong-500" style="color:white">Rafaël Coyaud</h3>
                                            <h4 class="heading heading-xs strong-400 text-uppercase letter-spacing-2 c-gray-light">Expert Data</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF OUR TEAM ------------------------ -->

                    <!-- ------------------------ OUR PARTNERS ------------------------ -->
                    <section class="slice-lg sct-color-1" id="partenaires">
                        <div class="sct-inner container">

                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner transformation">
                                    <span>Les Supers Curieux</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                <p class="text-lg line-height-1_8">
                                    Parce qu’ils nous poussent vers le haut, un GRAND merci !
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="swiper-js-container">
                                <div class="swiper-container" data-swiper-items="2" data-swiper-space-between="20" data-swiper-md-items="2" data-swiper-sm-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xs-items="2" data-swiper-sm-space-between="20">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="client-logo client-logo--style-3 img-responsive">
                                                <%= image_tag "partner1.png"%>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="client-logo client-logo--style-3 img-responsive">
                                                <%= image_tag "partner2b.png"%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF OUR PARTNERS ------------------------ -->

                    <!-- ------------------------ CALL TO ACTION ------------------------ -->
                    <section class="slice sct-color-4" id="contact">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner text-normal transformation" style="font-family: Raleway; color:white">
                                    Connecte-moi !
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Toujours curieux ? Bravo, tu y es presque ! Viens nous rejoindre :
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <%= form_for @user, url: {action: "create"} do |f| %>
                                    <!-- Contact form -->
                                    <form id="form_contact" data-action="../../php/send-email.php" class="form-default" role="form">
                                        <div class="form-group has-feedback">
                                            <div type="text" name="name">
                                                <%= f.text_field :name, class: "form-control form-control-xl", placeholder:"Nom" %>
                                            </div>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <div type="email" name="email">
                                                <%= f.text_field :email, class: "form-control form-control-xl", placeholder:"Email" %>
                                            </div>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <div type="text" name="type">
                                                <%= f.select(:user_type, ["Curieux et...","Utilisateur","Partenaire"], {}, { :class => 'form-control'})  %>
                                            </div>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <%= f.text_area :message, class: "form-control no-resize", rows: "5", placeholder: "Message..." %>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="">
                                            <%= f.submit "Envoie !", class: "btn btn-block btn-styled btn-lg btn-base-2 btn-shadow strong-600 mt-4" %>
                                        </div>

                                    </form>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ------------------------ END OF CALL TO ACTION ------------------------ -->


                    <!-- FOOTER -->
                    <footer id="footer" class="footer" style="background-color: black">
                        <div class="footer-top">
                            <div class="container">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-6">
                                        <div class="col">
                                            <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                                                Get in touch
                                            </h4>

                                            <ul class="social-media social-media--style-4-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                 <li>
                                                    <a href="#" class="linkedin" target="_blank" data-toggle="tooltip" data-original-title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="font-size: 12px">
                                        Copyright &copy; 2019 <a href="https://webpixels.io" target="_blank"> <strong>Webpixels</strong></a> - All rights reserved
                                        </br>
                                        Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"              title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"              title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>

                </div><!-- END: st-content-inner-->
            </div><!-- END: st-content -->
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

</body>
</html>


